.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-evenly{
    display: flex;
    justify-content: space-evenly;
}