.card {
  padding: 19px;
  margin: auto;
  align-items: center;
  text-align: center;
  height: 277px;
  width: 194px;
  border-radius: 12px;
  background-position: top;
  border-color: #2e3156;
  border-width: 1px;
  border-style: dashed;
}
.card-image {
  display: block;
  justify-content: center;
  margin: auto;
  height: 50%;
  width: 100%;
  padding: 8px;
  object-fit: contain;
  background-color: none;
}
.card-title {
  margin-top: 45.26px;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.44px;
}
.card-Id {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  margin-top: 4px;
}
